/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.stApp {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #E5BC52; /* Change this line */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.stSidebar {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.stTextArea {
    resize: none;
}